
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  :root {
    --color-black: #181616;
    --color-gray: #d9d9d9;
    --color-light-brown: #e5dbdb;
  }
  
  body {
    font-family: Arial, sans-serif;
  }
  
  /* Navigation Styling */
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--color-gray);
    color: black;
    padding: 1rem;
    position: relative;
  }
  
  ul {
    list-style: none;
    display: flex;
    gap: 1rem;
  }
  
  .icon {
    cursor: pointer;
    font-size: 2rem;
    display: none;
  }
  
  .nav-items {
    margin-right: 2rem;
    display: flex;
    gap: 1rem;
  }
  
  .menu-checkbox {
    display: none;
  }
  
  @media only screen and (max-width: 600px) {
    nav {
      align-items: flex-start;
    }
  
    .icon {
      display: block;
    }
    nav{
        padding-bottom: 50px;
        position: relative;
    }
    ul#myLinks{
        position: absolute;
        top: 50px;
    }
  
    .nav-items {
      display: none;
      flex-direction: column;
      width: 100%;
    }
  
    .menu-checkbox:checked + .nav-items {
      display: block;
    }
  }
  
  @media only screen and (min-width: 601px) {
    nav {
      flex-direction: row;
    }
    ul , li {
        width: 50%;
    }
  
    .nav-items {
      display: flex;
    }
  
    .icon {
      display: none;
    }
  }





